.landing {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../src/wallpaper.jpg);
  padding-bottom: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  
}

.banner-player {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../src/keyArena.jpg);
  padding-bottom: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}


.banner-booths {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../src/booths.jpg);
  padding-bottom: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  
}

.text {
  padding: 100px 0px 100px 300px;
}

.text h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sidebar {
  display: inline-block;
  background-color: #1D1E22;
  width: 10%;
  padding-top: 40px;
  padding-bottom: 400px;
  color: white;
  position: fixed;
}


.dota2-logo {
  width: 60%;
  padding-bottom: 80px;
}

.sidebar li {
  list-style: none;
}

.world-logo {
  padding-top: 80px;
  padding-bottom: 80px;
}

.team-logo h1{
  float: left;
}

.player-logo {
  padding-top: 10px;

}

.search-input {
  margin: 100px 0px 0px 200px;
  
}
.search-input input {
  padding: 10px 200px 10px 10px;

}







/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */


/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
